body, ul, p, input, button{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: inherit;}
input, button{outline: none; border: none;}
button{box-sizing: content-box;}
img{vertical-align: top;}